[submodule "solutions/WebPart-Example-Solution"]
	path = solutions/WebPart-Example-Solution
	url = https://github.com/mauriora/WebPart-Example-Solution.git
	branch = main
[submodule "solutions/Rateable-Announcements-Solution"]
	path = solutions/Rateable-Announcements-Solution
	url = https://github.com/mauriora/Rateable-Announcements-Solution.git
	branch = main
[submodule "solutions/Keyword-Feedback-Solution"]
	path = solutions/Keyword-Feedback-Solution
	url = https://github.com/mauriora/Keyword-Feedback-Solution.git
	branch = main
