[submodule "solutions/WebPart-Test-Workspaces"]
	path = solutions/WebPart-Test-Workspaces
	url = https://github.com/mauriora/WebPart-Test-Workspaces.git
	branch = main
[submodule "solutions/Announcements-Bar-Spfx"]
	path = solutions/Announcements-Bar-Spfx
	url = https://github.com/mauriora/Announcements-Bar-Spfx.git
	branch = main
[submodule "solutions/Keyword-Feedback-Solution"]
	path = solutions/Keyword-Feedback-Solution
	url = https://github.com/mauriora/Keyword-Feedback-Solution.git
	branch = main
